* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ddd;
    background-color: #111;
}

#result {
    font-size: 8rem;
    font-weight: 700;
    text-align: center;
}

#weather-form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inputs {
    position: fixed;
    bottom: 15vh;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

input[type=text],
button {
    text-align: center;
    padding: .1rem .8rem;
}

#temps {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#city {
    font-size: 2rem;
}

#error {
    min-height: 1.2em;
    color: red;
    font-size: 0.9rem;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 10vh;
}